<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            .col-md-4
        </div>
        <div class="col-md-6">
            MAINPAGER
            <% for (i=1;i<6;i++) { %>
            <div class="OuterSingleBar" style="position: relative; padding: 30px;">
            <div class="progress" id='progress<%= i%>'></div>
            </div>
            <% } %>
            <div class="container" id="container"></div>

        </div>
        <div class="col-md-3">
            .col-md-4
        </div>
    </div>
</div>